footer.main-footer
    .main-footer__container
        .main-footer__content

            .main-footer__content--news
                .main-footer__content--newsletter
                    p.main-footer__content--title Sign up for our Newsletter
                    p Sign up for our Newsletter & get exclusive discounts!
                    form.main-footer__content--form
                        input(type="text", name="news", placeholder="Enter your email")
                        input(type="submit", value="Submit").main-footer__content--submit


            .main-footer__content--copy
                ul.main-footer__content--links
                    li: a(href="#") Company
                    li: a(href="#") Contact us
                    li: a(href="#") Shipping
                    li: a(href="#") Returns
                    li: a(href="#") Carrers

                ul.main-footer__content--social
                    li: a(href="#" title="Merlin's Potions on Facebook").main-footer__content--facebook
                    li: a(href="#" title="Merlin's Potions on Twitter").main-footer__content--twitter
                    li: a(href="#" title="Merlin's Potions on Pinterest").main-footer__content--pinterest
                    li: a(href="#" title="Merlin's Potions on Tumblr").main-footer__content--tumblr
                    li: a(href="#" title="Merlin's Potions on Google+").main-footer__content--google

                .main-footer__content--copyright
                    p &copy; 2016 Merlin's Potions. All Rights Reserved


